@charset "UTF-8";
:root {
    --cor1: #fdf8e5;
    --cor2: #f8ccbf;
    --cor3: #422d29;
    --cor4: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    font-size: 1.2em;
   background: var(--cor1);
}
.container{
    margin: 0 auto;
}
iframe{
    width: 100%;
}
.logo{
    background: var(--cor4);
    box-shadow: 0px 4px 0px rgba(103, 102, 102, 0.12);
    border-radius: 0 0 50% 50%;
    max-height: 90px;
    left: 0;
    right: 0;
    top: 0%;
    padding: 14px 10px;
    margin: auto;
    position: absolute;
    width: 100px;
    height: 50px;
}
.logo img{
    width: 80px;
    max-height: 70px;
    left: 0;
    right: 0;
    top: 0%;
    margin: auto;
    position: absolute;;
}
.botao{
    text-decoration: none;
    color: var(--cor3);
    font-size: 1em;
    font-weight: 700;
    background: var(--cor2);
    padding: 8px 20px;
    border: 2px solid var(--cor3);
    border-radius: 25px;
}
.flex{
    display: flex;
    justify-content: space-between;
    background: var(--cor2);
    height: 60px;
   
}
.flex1{
    display: flex;
    align-items: center;
}
/*cards rosas*/
.flex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex3{
    display: flex;
    flex-direction: column-reverse;
}
.card{
    margin-top: 20px;
    width: 338px;
    height: 595;
    background: var(--cor2);
    color: var(--cor3);
    border: 2px solid var(--cor3);
    border-radius: 25px;
    text-align: center;
}
.card h3{
    margin-top: 12px;
}
.card p{
    text-align: left;
    padding: 10px 20px 30px 20px;
    color: var(--cor3);
}
.card a{
    padding: 10px 100px;
    border: 0;
}
/*card rosas*/
main{
    height: 70vh;
    background: url(img/fatia_bolo.jpeg);
    background-size: cover;
    background-position: center;
    color: var(--cor1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
main h1{
    font-size: 2.5em;
}
main h2{
    font-size: 1.1em;
    margin: 20px 0px 50px 0px;
}
/*SMARTPHONE PORTATIL*/
header{
    height: 60px;
}
#check{
    display: none;
}
label{
    font-size: 3em;
    position: absolute;
    top: 5px;
    right: 15px;
    color: var(--cor3);
}
nav ul {
    list-style: none;
    background: var(--cor3);
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.55s;
}

#check:checked~ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--cor2);
}

nav ul li a {
    text-decoration: none;
    color: var(--cor1);
}
/*QUEM SOMOS / BOLINHOS*/

.img_quem img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-top: 50px;
}
/*RODAPE*/
footer{
    padding: 30px;
    background: var(--cor2);
    color: var(--cor3);
    text-align: center;
}
.horarios h3{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.horarios ul{
    list-style: none;
}
.logo_rodape{
    margin-top: 40px;
}
.logo_rodape img{
    height: 150px;
}
.social{
    margin-top: 25px;
}
.social img{
    height: 50px;
    margin: 0px;
}

/*SMARTPHONE LANDSCAPE*/
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
/*TABLET PORTATIL*/
@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}
/*TABLET LANDSCAPE*/
@media (min-width: 960px){
    .container{
        max-width: 960px;
    }
}
/*PC*/
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
    header{
        height: 125px;
    }
    /*logo e nomezinhos*/
    .logo{
        width: 100px;
        height: 60px;
        margin-top: 0px;
        margin-left: 600px;
    }
    label{
        display: none;
    }
    nav ul{
        position: static;
        height: auto;
        margin-top: 0px;
    }
    nav ul li{
        float: left;
        border: 0;
    }
    nav ul li a{
        color: var(--cor3);
    }
    .menu2{
        margin: 0px 0px 0px 500px;
        text-align: center;
       }
       .menu{
        margin: 0px 0px 0px 200px;
       } 
}
